# Python
backend/venv/
backend/.env
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# Node
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.sqlite3
*.db

# IDE
.idea/
*.iml
